In [2]:
'''
Q1. List any five functions of the pandas library with execution.
'''
df[].mean() :  # give mean of the column 
df[].median() : # give median of the column 
df[].std()    : # give std of the column 
df[].varience() : # give varience of the column 


df.sum()      # give sum of values 
df.dropna()   # drop the rows that have null value 
df.rename()   # rename the column name 
df.columns()  # gives all columns name in the dataset
df.rows()     # gives all rows in the dataset.  

df.discribe()  # give statistical analysis

'\nQ1. List any five functions of the pandas library with execution.\n'

In [3]:
'''
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
'''


import pandas as pd

def reindex_dataframe(df):
    df = df.reset_index(drop=True)
    new_index = range(1, 2 * len(df) + 1, 2)
    df.index = new_index
    return df


data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)


new_df = reindex_dataframe(df)
print(new_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [4]:
'''
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

'''
data = {'column' :[10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

df['column'][0:3].sum()

60

In [5]:
'''
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
'''

df = pd.DataFrame({'Text' : ['Pratik' , 'banti' , 'ganesh' , 'mangesh']
                 })


df['Word_Count']= df['Text'].apply(len)

df

      Text  Word_Count
0   Pratik           6
1    banti           5
2   ganesh           6
3  mangesh           7

In [15]:
'''
Q5. How are DataFrame.size() and DataFrame.shape() different?
'''
print(df.shape)     # DataFrame.shape is an attribute that returns a tuple containing the number 
                    # of rows and columns in the DataFrame.

print(df.size)      # DataFrame.size is an attribute that returns the total number of elements
                    # in the DataFrame, which is the product of the number of rows and columns.

(3, 2)
6

In [ ]:
'''
Q6. Which function of pandas do we use to read an excel file?
'''

pd.read_excel()  # This funtion is used to read excel file

In [84]:
'''
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol.

For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.
'''

df = pd.DataFrame({'Email_id' :['bantipawar@gmail.com' , 'pratikpawar@gmail.com' , 'ganesh@gmail.com' 
                                , 'vedant@gmail.com' , 'Raj@gmail.com' , 'Chikuu@gamil.com'] })


df['Name_off']= df['Email_id'].apply(lambda x : x[0:-10])

df

                Email_id     Name_off
0   bantipawar@gmail.com   bantipawar
1  pratikpawar@gmail.com  pratikpawar
2       ganesh@gmail.com       ganesh
3       vedant@gmail.com       vedant
4          Raj@gmail.com          Raj
5       Chikuu@gamil.com       Chikuu

In [119]:
'''

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

   A  B  C 
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

'''
df = pd.DataFrame({'A' :[3,8,6,2,9],
                   'B' :[5,2,9,3,1],
                   'C' :[1,7,4,5,2]  })

df= [(df['A'] >5) & (df['B'] < 10)  ]

df

[0    False
 1     True
 2     True
 3    False
 4     True
 dtype: bool]